/* #022851 */
html {
  height: 100%;
  width: 100%;
  background-color: #F2F2F7;
}
/* 
.background {
  background: #DDE5B6;
} */

.container {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topcontainer {
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topscreen {
  background: #FFFFFF;
  flex-direction: column;
}

.uploadimage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.uploadimagefunction {
  display: flex;
  width: 100%;
}

.ImageSizeDisplay {
  padding: 10px;
  margin-top: 10px;
  margin-left: 6%;
  margin-right: 6%;  
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
}

.allImages {
  overflow: auto;
  height: 308px;
  margin-left: 6%;
  margin-right: 6%;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.pickClassification {
  display: flex;
  flex-direction: column;
}

.buttonClassify {
  background-color: #F2F2F7;
  width: 110px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 3%;
}

.buttonClassify:hover {
  background: #F2F2F7;
  cursor: pointer;
}

.barContainer {
  background-color: #000000;
  width: 400px;
}

.detectIncomplete {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

/* .barCompleted {
  background: #ADC178;
} */

#bottomscreen {
  background: #F2F2F7;
}

#introtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
}
#introtext:hover {
  cursor: pointer;
}

#subtext {
  /* display : none; */
  color: #86868B;
  font-weight: 500;
  font-size: 22px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

* {
  text-align: center;
}

.big_circle {
  background: #000000; /*parchment : F0EAD2*/
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: relative;
 /*
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
  
}
.small_circle {
  position: relative;
  background: #FFFFFF;
  border-radius: 50%;
  /*
   Put top edge and left edge in the center
  */
  top: 12.5%;
  left: 12.5%;
  
  height: 75%;
  width: 75%;
  
  /* 
   Offset the position correctly with
   minus half of the width and minus half of the height 
  */
}
.line{
 position: relative;
 top: -11%;
 left: -0.35%;
 background-color: #000000;
 width: 100px;
 height: 5px;
 line-height: 10%;
}

.button {
  aspect-ratio: 1;
  background-color: #DDE5B6;
  border: none;
  border-radius: 100%;
  width: 110px;
  padding: 0px;
  margin-top: 100%;
  transition: transform 0.7s ease-in-out;
}

.button:hover {
  background: #ADC178;
  cursor: pointer;
}

img:hover{
  cursor: pointer;
}

.download{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}
.play{
  display: block;
  position: relative;
  /*top: 12.5%;
  left: 12.5%;*/
  height: 100%;
  width: 100%;
}
.out{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}
.scan{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}
.image{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}

#insttext {
  color: black;
  font-weight: 500;
  font-size: 10px;
}
.insttext {
  
}
