html {
  height: 100%;
  width: 100%;
  background-color: #DDE5B6;
}
/* 
.background {
  background: #DDE5B6;
} */

.container {
  width: 1440px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topscreen {
  background: #F0EAD2;
  flex-direction: column;
}

.uploadimage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.uploadimagefunction {
  display: flex;
  width: 100%;
}

.ImageSizeDisplay {
  padding: 10px;
  margin-top: 10px;
  margin-left: 6%;
  margin-right: 6%;  
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
}

.allImages {
  overflow: auto;
  height: 308px;
  margin-left: 6%;
  margin-right: 6%;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.pickClassification {
  
}

#bottomscreen {
  background: #DDE5B6;
}

#introtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
}
#introtext:hover {
  cursor: pointer;
}

.hidden {
  display : none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

* {
  text-align: center;
}

.big_circle {
  background: #A98467; /*parchment : F0EAD2*/
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
 /*
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
  
}
.small_circle {
  position: relative;
  background: #ADC178;
  border-radius: 50%;
  /*
   Put top edge and left edge in the center
  */
  top: 12.5%;
  left: 12.5%;
  
  height: 75%;
  width: 75%;
  
  /* 
   Offset the position correctly with
   minus half of the width and minus half of the height 
  */
}
.line{
 position: relative;
 top: 2%;
 background-color: #A98467;
 width: 100px;
 height: 20px;
 line-height: 80%;
}

.button {
  aspect-ratio: 1;
  background-color: #DDE5B6;
  border: none;
  border-radius: 100%;
  width: 110px;
  padding: 0px;
  margin-top: 100%;
  transition: transform 0.7s ease-in-out;
}

.button:hover {
  background: #ADC178;
  cursor: pointer;
  /*margin-left: 50px;*/
  /*transform: rotate(360deg);*/
}

img:hover{
  cursor: pointer;
}

.download{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}
.play{
  display: block;
  position: relative;
  /*top: 12.5%;
  left: 12.5%;*/
  height: 100%;
  width: 100%;
}
.out{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}
.scan{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}
.image{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
}
